body{
	
	margin: 0px 10px 0px 10px;
	background-image: url(star1.jpg);
	padding:0;
}
body > img {
        object-fit: cover;
        width: 100%;
        border-radius: 50%;
        max-height: 100%;
    }

.container {
	display: grid;
	margin:auto;
	grid-template-columns: repeat(5,20%);
    grid-template-rows: repeat(5,1fr);
    grid-gap:10px;
	
	text-align: center;
	align-item:center;
	align-content: center;
	
	


}

.starwars {
	grid-area:1/2/6/5;

	/*background-color: black;*/
	text-align: center;
	font-family: 'Press Start 2P', cursive;
	color:yellow;
	transform:rotate3d(1, 0, 0, 90);
	animation: mymove 5s infinite;

}

@keyframes mymove {
    0%   {top: 0px;}
    25%  {top: 200px;}
    50%  {top: 100px;}
    75%  {top: 200px;}
    100% {top: 0px;}
}